<div class="card-body centerAlign">
    <h2>{{title}}</h2>
</div>
<mat-card class="applyDiv center grow">
  <mat-card-header class="themeBlueClr">
    <mat-card-title>{{selectedCourseByInTake?.course?.name}}</mat-card-title>
    <mat-card-subtitle><b>{{selectedCourseByInTake?.inTake?.name}}</b></mat-card-subtitle>
    <mat-card-subtitle>Start Date: {{selectedCourseByInTake?.inTake?.startDate}}</mat-card-subtitle>
    <mat-card-subtitle>End Date: {{selectedCourseByInTake?.inTake?.endDate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
    <div class="card">
      <div class="card-header">
        <h2>User details</h2>
      </div>
      <mat-list role="list" class=card-body>
        <mat-list-item role="listitem"><strong>First Name</strong><span>: {{currentUser?.user?.firstName}}</span></mat-list-item>
        <mat-list-item role="listitem"><strong>Last Name</strong><span>: {{currentUser?.user?.lastName}}</span></mat-list-item>
        <mat-list-item role="listitem"><strong>Email</strong><span>: {{currentUser?.user?.email}}</span></mat-list-item>
        <mat-list-item role="listitem"><strong>Phone</strong><span>: {{currentUser?.user?.cell}}</span></mat-list-item>
      </mat-list>  
    </div>

  </mat-card-content>
  <mat-card-actions class="centerAlign"  *ngIf="admissionApplication==null && canApply;else alreadyAppliedBlock">
    <label *ngIf="!isLoading && isSubmitted && isError" class="error lightBold">Something went wrong, try again!  <span class="fas fa-exclamation"></span> <br></label>
    <button *ngIf="isError == true || !isSubmitted" [disabled]="isLoading" mat-raised-button color="primary" (click)="continueToApply()">
      <span *ngIf="!isLoading">Apply</span>
      <span *ngIf="isLoading" >Applying <span class="fas fa-spin fa-spinner"></span> </span>
     </button>
    <label *ngIf="!isLoading && isSubmitted && !isError" class="success lightBold">Submitted <span class="fas fa-check"></span></label>
  </mat-card-actions>
  <ng-template #alreadyAppliedBlock>
      <label *ngIf="admissionApplication == null;else applicationStatusBlock">You have already applied to this course in this intake.</label>
      
      <ng-template #applicationStatusBlock>
        <label>Statue : {{admissionApplication?.status}}</label> 
      </ng-template>

  </ng-template>
</mat-card>
