<div class="card-body centerAlign">
    <h2>{{title}}</h2>
</div>


<div class="card center wfc mat-elevation-z8 fullWidth">
  <app-loader [isLoading]="isLoading"></app-loader>
    <div class="ovrfl">
        <table mat-table [dataSource]="dataSource" class="fullWidth table-hover">
            <ng-container *ngFor="let column of displayedColumns"  [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef> {{keyValues[column]?.label}} </th>
              <td mat-cell *matCellDef="let element" [ngSwitch]="column"> 
    
                <span *ngSwitchCase="'course'">{{element?.courseByInTake?.course?.name}}</span>
                <span *ngSwitchCase="'inTake'">{{element?.courseByInTake?.inTake?.name}}</span>
                <span *ngSwitchCase="'applicantName'" class="link" matTooltip="Click to view user profile" ><span class="fas fa-user font20 mrr5"></span>{{element?.user?.firstName +' '+element?.user?.lastName}} ({{element?.user?.id}}) </span>
                <span *ngSwitchCase="'status'" class="error" [ngClass]="{'themeBlueClr':(element?.status =='SUBMITTED'),'success':(element?.status == 'APPROVED')}">{{element[column]}}</span>
                <div *ngSwitchCase="'actions'">
                  <tr>
                    <td>
                      <button mat-mini-fab color="primary" (click)="view(element)" matTooltip="View"><span class="fas fa-eye"></span></button>
                    </td>
                    <td *ngIf="element?.status !='WITHDREW' && isAdminRelatedRole">
                      <button mat-mini-fab color="primary" matTooltip="Edit" (click)="edit(element)"><span class="fas fa-pen"></span></button>
                    </td>
                    <td *ngIf="element?.user?.id == currentUser?.user?.id && element?.status !='WITHDREW' && element?.status !='DENIED'" >
                      <button mat-mini-fab color="warn" (click)="withdraw(element?.id)"  matTooltip="Withdraw"><span class="fas fa-times"></span></button>
                    </td>
                  </tr>
                </div>
                <span *ngSwitchDefault>{{element[column]}}</span>
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
          <mat-paginator  [pageSizeOptions]="sizeList"></mat-paginator>          
  </div>
  