<app-top-nav-bar [drawer]="drawer" (modeChange)="sideNavMode = $event" [schoolName]="schoolName"></app-top-nav-bar>
<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" [mode]="sideNavMode">
    <app-side-nav-bar [drawer]="drawer" [mode]="sideNavMode" *ngIf="!isUserLoading && !currentUser?.isError"></app-side-nav-bar>
  </mat-drawer>

  <div class="sidenav-content mainRouterContent">
    <app-loader [isLoading]="isUserLoading" [label]="'Loading user details'"></app-loader>
    <div class="centerAlign mrt100" *ngIf="!isUserLoading && currentUser?.isError == true">
        <h1 class="error">Unable to load user details</h1>
        <h4>Check your internet connection <span class="fas fa-wifi"></span></h4> 
    </div>

    <div class="ro" *ngIf="!isUserLoading && !currentUser?.isError">       
      <router-outlet (activate)="onRouteChange()" ></router-outlet>
    </div>
  </div>

</mat-drawer-container>
