<app-top-nav-bar [drawer]="drawer" (modeChange)="sideNavMode = $event" [schoolName]="schoolName"></app-top-nav-bar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav lightGrayBg" [mode]="sideNavMode">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let item of list" [value]="item">
        {{item}}
      </mat-list-option>
    </mat-selection-list>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="mainRouterContent">       
      <router-outlet (activate)="onRouteChange()"></router-outlet>
    </div>
  </div>

</mat-drawer-container>
